@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Roboto&family=Roboto+Condensed&display=swap');

html {
  scroll-behavior: smooth;
}

/* ---- COLORS ---- */
.bg-dark {
  background-color: #4A3C40 !important;
}

.bg-light {
  background-color: #F9F5F1 !important;
}

.text-primary,
h1>span {
  color: #FBB12A !important;
}

.btn-primary {
  background-color: #FBB12A !important;
  color: #222323 !important;
  text-transform: uppercase;
  font-family: "Dosis", "Roboto Condensed", "Arial", sans-serif !important;
  font-weight: bold;
  padding: 8px 40px;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 24px;
  border: none;
}

.btn-primary:hover {
  background-color: #FB8E2A !important;
}

.btn-secondary {
  background-color: #FFFFFF !important;
  color: #222323 !important;
  text-transform: uppercase;
  font-family: "Dosis", "Roboto Condensed", "Arial", sans-serif !important;
  font-weight: bold;
  padding: 6px 30px;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  border: 3px solid #FBB12A;
  box-sizing: border-box;
}

.btn-secondary:hover {
  border: 3px solid #FB8E2A !important;
}

/* ---- FONTS ---- */
h1, h2, h3 {
  font-family: "Dosis", sans-serif !important;
}

h2 {
  text-transform: uppercase;
  color: #4A3C40;
}

p,
a,
li,
small {
  font-family: "Roboto", "Open Sans", Arial, sans-serif !important;
}

/* ----- NAVBAR ----- */

.languages a {
  padding:0;
  margin:0;
}

.languages li {
  padding:4px;
}

.languages {
  background-color:#222323;
}
#navmenu {
  transition: all 0.15s linear;
}

#navmenu.scroll-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* ---- HERO ---- */
.embed-responsive {
  max-width: 496px !important;
  margin: 0 auto;
}

/* ---- AWARDS ----- */
.award img {
  max-height: 70px;
}

.award-title {
  font-family: "Roboto Condensed";
  color: #8C847F;
  border-left: 3px solid #FBB12A;
  padding-right: 12px;
}

.award-title b {
  color: #000000;
  /* white-space: nowrap; */
}

.award-group>div {
  padding-left: 20px;
  padding-right: 20px;
}

#awards {
  background-color: #ffffff;
  position: relative;
  z-index: 1000;
  box-shadow: 0px 12px 24px rgb(0 0 0 / 12%);
}

.navbar a.nav-link,
.navbar .dropdown-item {
  font-size: 16px !important;
}

/* ----- FEATURES ----- */
#features h3 {
  color: #FBB12A;
  font-size: 36px;
}

#features h4 {
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 30px;
}

/* ----- EXPERTS ----- */
.expert-name {
  font-family: "Dosis", sans-serif !important;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}

.expert-position {
  font-family: "Roboto Condensed", "Roboto", sans-serif !important;
  font-size: 24px;
  margin-bottom: 0;
}

.expert-comment {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin-bottom: 0;
}

.expert-content {
  border-left: 3px solid #FBB12A;
  padding-left: 24px;
}

/* ----- LOGOS ----- */
#logos img {
  padding: 14px;
  /* max-height: 75px; */
}

.logo {
  flex: 1;
  flex-basis: 30%;
  text-align: center;
}

/* ---- WIDGETS ----- */
#widgets ul {
  list-style: none;
}

#widgets ul li {
  margin-bottom: 12px;
}

#widgets ul li::before {
  content: "";
  background-image: url(img/icon-star.svg);
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.2rem;
}

#widgets .img-h2 {
  height: calc(40px + 6 * ((100vw - 320px) / 680)) !important;
}

/* ----- TESTIMONIALS ----- */
#testimonials p>span {
  font-weight: bold;
  padding-right: 10px;
  margin-right: 10px;
  margin-left: 6px;
  border-right: 3px solid #FBB12A;
}

.bi {
  display: inline-block;
  vertical-align: -.125em;
  width: 1em;
  height: 1em;
}

#testimonials .carousel-item>svg {
  width: 3em;
  height: 3em;
  margin-right: 16px;
  fill: #FBB12A;
}

/* ----- PRICING ----- */
.card-title {
  font-family: "Dosis", "Roboto Condensed", "Roboto", "Arial", sans-serif;
  font-size: 2em;
  margin-top: 12px;
}

#pricing .card-body ul {
  list-style: none;
  padding-bottom: 14px;
}

#pricing .card-body ul li {
  margin-bottom: 24px;
}

#pricing .card-body ul li::before {
  content: "";
  background-image: url(img/icon-check.svg);
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.2rem;
}

#pricing .btn-primary {
  font-size: 1em;
}

.price {
  font-size: 18px;
  color: #387EBF;
}

.price span {
  font-size: 32px;
}

.one-time-payemnt {
  opacity: 0.7;
}

.property-price {
  font-size: 18px;
}

.property-price span {
  font-size: 24px;
}

span#price-business-year,
span#price-premium-year {
  font-size: 18px !important;
}

.discount-tag-big {
  margin: 0 auto;
  display: inline-block;
  padding: 2px 8px;
  font-size: 20px;
}

.discount-tag {
  margin: 0 auto;
  display: inline-block;
  padding: 2px 8px;
  font-size: 14px;
}

.plan {
  padding-top: 24px;
  padding-bottom: 24px;
}

.plan ul {
  font-size: 18px;
}

.plan ul a {
  border-bottom: dashed 2px #ccc;
  text-decoration: none;
  cursor: pointer;
}

.plan ul li {
  margin-bottom: 32px;
}

.popover {
  background-color: #4A3C40;
  min-width: 350px;
}

.popover-body {
  font-size: 16px;
  color: #ffffff !important;
}

.bs-popover-top>.arrow::after {
  border-top-color: #4A3C40;
}

.bs-popover-right>.arrow::after {
  border-right-color: #4A3C40;
}

.bs-popover-left>.arrow::after {
  border-left-color: #4A3C40;
}

.bs-popover-bottom>.arrow::after {
  border-bottom-color: #4A3C40;
}

form.paymentform .custom-control-label {
  cursor: pointer;
}

form.propertiesform a {
  text-decoration: underline;
}

span.propertiesNumber {
  font-size: 32px;
}

.slidervalues span {
  width: 25px;
  text-align: center;
}

.slidervalues {
  font-size: 12px;
  color: #000000;
}

/* ----- FOOTER ----- */
footer {
  background-color: #222323;
  font-size: 0.8em;
}

footer a {
  color: #FBB12A;
}

footer a:hover {
  text-decoration: none;
  color: #ffffff;
}

footer li {
  margin-bottom: 12px;
}

/* ----- RESPONSIVE ----- */
/*Extra small devices (portrait phones, less than 576px)
/No media query since this is the default in Bootstrap*/
h1 {
  font-size: 8vw !important;
}

h1>span {
  white-space: normal;
}

h2 {
    font-size: 7vw !important;
}
.award-title {
  font-size: calc(16px + 6 * ((100vw - 320px) / 680)) !important;
  line-height: calc(20px + 6 * ((100vw - 320px) / 680)) !important;
}

.navbar-brand img {
  max-width: 150px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  h1 {
    font-size: 6vw !important;
  }
  h1>span {
    white-space: nowrap;
  }
  h2 {
      font-size: 38px !important;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  h1 {
    font-size: 5vw !important;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  h1 {
    font-size: 4vw !important;
  }

  h1>span {
    white-space: nowrap;
  }

  .award-title {
    font-size: 20px !important;
    line-height: 23px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  h1 {
    font-size: 3vw !important;
  }
}
